body {
    background-color: #181717;
    color: #f2eeee;
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container-home {
    height: 700px;
    width: 500px;
    margin-bottom: 20px;
}

.menu-home {
    margin-top: 180px;
}

.ger{
    color: #c94d4d;
}

.ger:hover {
    color: #8f3838;
}


* {
    text-decoration: none;
}

/* IMG */
.img-container {
    height: 350px;
    width: 350px;
    text-align:right;
}

.img-perfil {
    margin-top: 20px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

/* Tile */

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 350px;
    padding-right: 100px;
}

.title-name-home {
    font-size: 50px;
    margin-top: 50px;
}

.title-name {
    margin-top: 0px;
    font-size: 50px;
    padding-right: 10%;
}

.title-p {
    font-size: 30px;
}


a {
    color: #f2eeee;
}

.menu {
    display: flex;
    width: 500px;
}

.menu-a-item {
    padding: 5px;
}



.menu-item {
    background-color: #c94d4d;
    color: #f2eeee;
    padding: 2px;
    border-radius: 4%;
}

.menu-item:hover {
    /* font-size: 18px; */
    background-color: #8f3838;
    transition: 0.2s;
}

/* Home */

.container {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8%;
}



/*  FOOTER */
.fa {
    font-size: 30px;
    margin: 40px;
}

.fa:hover {
    transform: scale(1.9);
    transition: 0.3s;
    color: #c94d4d;
}

.footer {
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    left:0px;
    bottom:0px;
    height:100px;
    width: 100%;
    /* background-color: tomato; */
}



/* SOBRE MI */

.container-sobremi {
    width: 500px;
    overflow: auto;
}

.container-sobremi::-webkit-scrollbar {
    width: 4px;
}

.container-sobremi::-webkit-scrollbar-thumb {
    background-color: #c94d4d;
    border-radius: 5px;
}

/* MI EXPERIENCIA */

.exp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 350px;
    padding-right: 100px;
}

.container-experiencia {
    height: 700px;
    width: 500px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    overflow: auto;
}

.cards-title {
    margin-top: 0px;
    margin-bottom: 0;
}

.card {
    padding: 0;
    margin: 15px;
    width: 200px;
    height: 150px;
}

.img-card {
    width: 200px;
    height: 100px;
}

.container-experiencia::-webkit-scrollbar {
    width: 4px;
}

.container-experiencia::-webkit-scrollbar-thumb {
    background-color: #c94d4d;
    border-radius: 5px;
}


/* MI EXPERIENCIA */

.container-skills {
    height: 700px;
    width: 500px;
    margin-bottom: 10px;
    overflow: auto;
    /* background-color: #8f3838; */
}

.container-node-ex {
    display: flex;
}

.node-ex, .html, .css, .js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node {
    width: 170px;
    height: 85px;
}

.ex {
    width: 50px;
    height: 50;
}

.cont-ex {
    margin-top: 40px;
    margin-left: 40px;
}

.mongoDB {
    height: 70px;
    width: 70px;
}

.js-img {
    margin-top: 15px;
    height: 55px;
    width: 55px;
}

.img-normal {
    margin-top: 15px;
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}

.container-html {
    display: flex;
}

.html, .css, .js {
    margin-top: 40px;
    margin-right: 60px;
}


.container-skills::-webkit-scrollbar {
    width: 4px;
}

.container-skills::-webkit-scrollbar-thumb {
    background-color: #c94d4d;
    border-radius: 5px;
}

.red {
    color: #c94d4d;
}

.red:hover {
    color:#8f3838
}

.div-red {
    display: flex;
}


